by Vinodhini Rajamananickam

##### QUESTION 1

You are given with a number "N", find its cube.

Input Description:
A positive integer is provided.

Output Description:
Find the cube of the number.

Sample Input :

2

Sample Output :

8

In [3]:
a= int(input())
b= a**3
print(b)

2
8

##### QUESTION 2

You are given a number A in Kilometers. Convert this into B: Meters and C: Centi-Metres.

Input Description:
A number "A" representing some distance in kilometer is provided to you as the input.

Output Description:
Convert and print this value in meters and centimeters.

Sample Input :

2

Sample Output :

2000

200000

In [5]:
A= int(input())
B= A*1000
C= A*100000
print(B)
print(C)

2
2000
200000

##### QUESTION 3

You are provided with a number, "N". Find its factorial.

Input Description:
A positive integer is provided as an input.

Output Description:
Print the factorial of the integer.

Sample Input :

2

Sample Output :

2

In [6]:
import math
a= int(input())
b= math.factorial(a)
print(b)

2
2

##### QUESTION 4

You will be provided with a number. Print the number of days in the month corresponding to that number.

Note: In case the input is February, print 28 days. If the Input is not in valid range print "Error".

Input Description:
The input is in the form of a number.

Output Description:
Find the days in the month corresponding to the input number. Print Error if the input is not in a valid range.

Sample Input :
    
8

Sample Output :
    
31

In [7]:
a= int(input())
if a==1 or a==3 or a==5 or a==7 or a==8 or a==10 or a==12:
    print(31)
elif a==4 or a==6 or a==9 or a==11:
    print(30)
elif a==2:
    print(28)
else:
    print("Error")

8
31

##### QUESTION 5

Print the First 3 multiples of the given number "N". (N is a positive integer)

Note: print the characters with a single space between them.

Input Description:
A positive integer is provided to you as an input.

Output Description:
Print the First 3 multiples of the number with single spaces between them as an output.

Sample Input :

2

Sample Output :

2 4 6

In [8]:
a= int(input())
b= a*1
c= a*2
d= a*3
print(b,c,d)

2
2 4 6

##### QUESTION 6

You are given with a number A i.e. the temperature in Celcius. Write a program to convert this into Fahrenheit. 

Note: In case of decimal values, round-off to two decimal places.

Input Description:
A number is provided in Celcius as the input of the program.

Output Description:
The output shall be the temperature converted into Fahrenheit corresponding to the input value print up to two decimal places and round off if required.

Sample Input :
    
12

Sample Output :
    
53.60

In [9]:
A = int(input())
b = (A*1.8) + 32
print("%.2f" %b)

12
53.60

##### QUESTION 7

The area of an equilateral triangle is ¼(√3a2) where "a" represents a side of the triangle. You are provided with the side "a". Find the area of the equilateral triangle.

Input Description:
The side of an equilateral triangle is provided as the input.

Output Description:
Find the area of the equilateral triangle and print the answer up to 2 decimal places after rounding off.

Sample Input :

20

Sample Output :

173.21

In [10]:
import math


a= int(input())
b= ( math.sqrt(3)/4)*(a*a)
print("%.2f" %b)

20
173.21

##### QUESTION 8

You are given with Principle amount($), Interest Rate(%) and Time (years) in that order. Find Simple Interest.

Print the output up to two decimal places (Round-off if necessary).

(S.I. = P*T*R/100)

Input Description:
Three values are given to you as the input. these values correspond to Principle amount, Interest Rate and Time in that particular order.

Output Description:
Find the Simple interest and print it up to two decimal places. Round off if required.

Sample Input :
    
1000 2 5

Sample Output :
    
100.00

In [11]:
p,t,r= map(float,input().split())
a = p*t*r
b= a/100
print(f"{b:.2f}")

1000 2 5
100.00

##### QUESTION 9

Using the method of looping, write a program to print the table of 9 till N in the format as follows:
(N is input by the user)

9 18 27...

Print NULL if 0 is input

Input Description:
A positive integer is provided as an input.

Output Description:
Print the table of nine with single space between the elements till the number that is input.

Sample Input :

3

Sample Output :

9 18 27

In [12]:
a = int(input())
b= []
for i in range(1,a+1):
    c=i*9
    b.append(c)
print(*b)

3
9 18 27

##### QUESTION 10

You are given the coefficients of a quadratic equation in order A, B & C.

Where A is the coefficient of X2,  B is the coefficient of X and C is the constant term in the most simplified form.

Example: For  X2 + 5X + 6 = 0, you are given the input as: 1 5 6.

Write a program to find all of the roots of the quadratic.

Note: The output should be up to 2nd decimal place (round off if needed) and in case of a recurring decimal use braces i.e. for eg: 0.33333..... => 0.33.

Note: Use Shri Dharacharya's Method to solve i.e. X = {-b + √(b² - 4ac) } / 2a & {-b-√(b² -4ac)} / 2a

Input Description:
Three numbers corresponding to the coefficients of x(squared), x and constant are given as an input in that particular order

Output Description:
Print the two values of X after rounding off to 2 decimal places if required.

Sample Input :

1 5 6

Sample Output :

-2.00
-3.00

In [13]:
import cmath

a, b, c = map(int,input().split())

ans1 = ((-b) + cmath.sqrt(b**2 - 4*a*c))/(2*a)
ans2 = ((-b) - cmath.sqrt(b**2 - 4*a*c))/(2*a) 

print("{:.2f}".format(ans1.real))
print("{:.2f}".format(ans2.real))

1 5 6
-2.00
-3.00